body {
    margin: 0;
    font-family: sans-serif;
}

marquee {
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}

#nav-link-1 {
    color: #ffa500;
}

#nav-link-2 {
    color: skyblue;
}

#nav-link-3 {
    color: aqua;
}

#nav-link-4 {
    color: blueviolet;
}

.contact-btn {
    text-decoration: none;
    background-color: #ffa500;
    color: white;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 1rem;
}

nav label {
    display: none;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.banner-text h1 {
    font-size: 3.5rem;
}

.banner-text p {
    font-size: 1.25rem;
    opacity: 80%;
}

.banner-btn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 1rem;
}

#empowering {
    color: orange;
}

#vision {
    color: skyblue;
}

/* Standard Curriculum */
.curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg.png);
}

.curriculum h1 {
    font-size: 2.875rem;
}

.curriculum p {
    opacity: 50%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.card {
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card h5 {
    font-size: 1.5rem;
}

.card p {
    text-align: center;
}

.card-1 {
    background: linear-gradient(to bottom, #50b9ff, #ffffff 30%);
    box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
}

.card-2 {
    background: linear-gradient(to bottom, #f3c4b3, #ffffff 30%);
    box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
}

.card-3 {
    background: linear-gradient(to bottom, #f7baf7, #ffffff 30%);
    box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
}

#read-more-1 {
    color: skyblue;
    margin-top: 40px;
}

#read-more-2 {
    color: orange;
    margin-top: 40px;
}

#read-more-3 {
    color: blueviolet;
    margin-top: 40px;
}

.arrow-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: #ffa500;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-button i {
    font-size: 30px;
    color: #fff;
}

/* Stories */
.stories h1 {
    text-align: center;
    font-size: 2.875rem;
}

.story-1 p {
    padding-left: 30px;
    opacity: 50%;
}

.stories h6 {
    padding-left: 50px;
    margin-top: 30px;
    font-size: 1rem;
    line-height: 200%;
}

.story-1 h6 {
    font-size: 1.5rem;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        url('assets/bg.png'), linear-gradient(to top, #fce1a6, #ffffff 100%);
}

.stories button {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.cards {
    display: flex;
}

.story-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stories img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.story-1 {
    width: 540.27px;
    height: 630.52px;
    box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
    border-radius: 16px;
    position: relative;
    background-color: white;
}

.story-1 button {
    padding: 20px 20px;
    border-radius: 47px;
    border: none;
    background-color: #3CD8E8;
    color: white;
    position: absolute;
    bottom: 230px;
    left: 20px;
}

.story-card {
    width: 290.69px;
    height: 301.61px;
    box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
    border-radius: 16px;
    position: relative;
    background-color: white;
}

#green button {
    background-color: #95B226;
}

.story-card button {
    padding: 10px 20px;
    border-radius: 47px;
    border: none;
    background-color: #3CD8E8;
    color: white;
    position: absolute;
    left: 15px;
    top: 120px;
}

.story-cards {
    gap: 20px;
}

.stories-button {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #3ca6ec;
}

.footer-container {
    display: flex;
    gap: 300px;
    padding: 50px;
    justify-content: center;
    color: white;
}

.footer-container p {
    opacity: 70%;
}

.footer-logo {
    display: flex;
}

.footer-logo img {
    width: 82.9px;
    height: 81.65px;
}

.footer-about-school {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-about-school a {
    text-decoration: none;
    color: white;
}

/* Responsive Design */
@media screen and (max-width: 576px) {

    /* Navbar */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 20px;
        border-bottom: 1px solid #ffa500;
        gap: 300px;
    }

    .logo-img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .logo-text {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    .bar {
        display: block;
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
    }

    .bar span {
        position: absolute;
        width: 45px;
        height: 7px;
        background: black;
        border-radius: 100px;
        display: inline-block;
    }

    .bar span.top {
        top: 0;
    }

    .bar span.middle {
        top: 17px;
    }

    .bar span.bottom {
        bottom: 0;
    }

    /* Banner */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 60px;
    }

    .banner-text h1 {
        font-size: 3.5rem;
    }

    .banner-text p {
        font-size: 1.25rem;
        opacity: 80%;
    }

    .banner-btn {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px 40px;
        border-radius: 12px;
        font-size: 1rem;
    }

    #empowering {
        color: orange;
    }

    #vision {
        color: skyblue;
    }

    /* Curriculum */
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 28px;
    }

    /* Stories */
    .stories button {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    .story-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .stories img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        width: 250px;
        height: 130px;
    }

    .story-1 {
        display: none;
    }

    .story-card {
        width: 250px;
        height: 290px;
        box-shadow: 0 2px 10px rgba(80, 77, 77, 0.2);
        border-radius: 16px;
        position: relative;
        background-color: white;
    }

    .story-card button {
        padding: 10px 40px;
        border-radius: 47px;
        border: none;
        background-color: #3CD8E8;
        color: white;
        position: absolute;
        left: 0px;
        top: 60px;
    }

    .story-cards {
        gap: 20px;
    }

    .stories-button {
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px 40px;
        border-radius: 12px;
        font-size: 1rem;
    }

    /* Footer */
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        justify-content: center;
        color: white;
    }

    .footer-container p {
        opacity: 70%;
    }

    .footer-logo {
        display: flex;
    }

    .footer-logo img {
        width: 82.9px;
        height: 81.65px;
    }

    .footer-about-school {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-about-school a {
        text-decoration: none;
        color: white;
    }

}